*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

/*BARRA SUPERIOR*/
.barra-superior {
    position: fixed;
    background-color: #131219;
    height: 9vh;
    width: 100%;
    z-index: 10;
    top: 0;
}

.links {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1em;
}

.direcionar {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    top: 3.5vh;
    margin: 0px 2vw;
    top: 3vh;
}

.direcionar::after {
    content: ' ';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #491BF2;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.direcionar:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*HOME*/
.barra-one {
    position: relative;
    height: 100vh;
    width: 100%;
}

.barra-one .background1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0vh;
}

.barra-one .background2 {
    display: none;
}

p.frase {
    color: #ffffff;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    padding-top: 3vh;
    font-size: 1.7em;
}

p.nome {
    color: #ffffff;
    font-size: 7em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.2em #000000;
    margin-top: 3vh;
}

p.trabalho {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    padding-top: 3vh;
}

.download {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #ffffff;
    border: solid #ffffff 1px;
    background-color: none;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20vh;
    padding: 10px;
}

.download:hover {
    background-color: #ffffff11;
    color: #FFFFFF;
    border-radius: 3px;
    transition:ease-in-out 0.3s;
}

/*SOBRE*/
.barra-two {
    height: 100vh;
    width: 100%;
}

.sobre1 {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.sobre2 {
    display: none;
}

.paragrafo {
    position: relative;
    font-family: 'Nunito', sans-serif;
    width: 45vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.paragrafo h1 {
    position: absolute;
    color: #7D68F7;
    font-size: 2em;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
}

.paragrafo p {
    font-size: 1em;
    color: #ffffff;
    top: 20vh;
    text-align: center;
}

/*responsividade - sobre*/
@media (max-width: 1520px) {
    .wave {
        position: relative;
        top: 30px;
    }
}

@media (max-width: 1115px) {
    .wave {
        top: 140px;
    }
}

@media (max-width: 770px) {
    .wave {
        top: 180px;
    }
}

/*PROJETO*/
.barra-three {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #171134;
}

.back1 {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.back2 {
    position: absolute;
    width: 50%;
    top: 0vh;
    left: 40%;
    transform: translate(-50%);
}

@media (max-width: 800px) {
    .back2 {
        top: 18vh !important; 
        left: 33%;
        transform: translate(-50%);
        width: 30em;
    }
}

.back3 {
    display: none;
}

.paragrafo2 {
    position: relative;
    width: 35vw;
    height: 35vh;
    left: 55vw;
    top: 50%;
    transform: translate(0, -50%);
}

.barra-three h1 {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6em;
    left: 50%;
    transform: translate(-50%);
    top: 2vh;
}

.barra-three p {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    position: relative;
    margin: 0px 10%;
    top: 10vh;
}

.ver-mais {
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-mais2 {
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px #240E73 solid;
    color: #240E73;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    background-color: #FFFFFF;
}

.ver-mais2:hover {
    background-color: #7D68F7;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    transition: ease-in-out 0.3s;
}

.waves2 {
    position: relative;
    top: 18vh;
}

/*responsividade - projetos*/
@media (max-width: 1650px) {
    .waves2 {
        top: 200px;
    }
}

@media (max-width: 1370px) {
    .barra-three img {
        top: 10vh;
    }

    .waves2 {
        top: 280px;
    }
}

@media (max-width: 1010px) {
    .barra-three img {
        top: 20vh;
    }

    .paragrafo2 h1 {
        font-size: 1.1em;
    }

    .waves2 {
        top: 350px;
    }
}

/*CONTATO*/
.barra-four {
    position: relative;
    background-image: linear-gradient(180deg, #191041 , #000000);
    font-family: 'Nunito', sans-serif;
    height: 40vh;
    width: 100%;
}

.barra-four h1, p {
    text-align: center;
    position: relative;
    top: 15%;
}

.barra-four h1 {
    color: #ffffff;
}

.dados-contato {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
}

.dados-contato p {
    color: #FFFFFF;
}

.barra-four a {
    text-decoration: none;
    color: #FFFFFF;
}

.barra-four a:hover {
    color: #9074F7;
    transition: ease-in 0.2s;
}

.icones-contato img{  
    position: relative;
    left: 50%;
    top: 20vh;
    transform: translate(-100%);
    width: 35px;
}

.final {
    font-size: calc(1em - 0.9vh);
    color: #BFBFBF;
    position: absolute;
    top: 37vh;
    left: 50%;
    transform: translate(-50%);
}

/*BARRA LATERAL*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #cacaca;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 3px;
}

/*ENVIAR EMAIL FIXED*/
.redes-sociais img {
    position: fixed;
    width: 3em;
    top: 88vh;
    right: 2%;
}

.redes-sociais img:hover {
    top: 87.5vh;
    transition: .2s;
}

/*RESPONSIVIDADE MOBILE*/
@media (max-width: 675px) {
    /*HOME*/
    .frase, .nome, .trabalho {
        top: 15vh;
    }

    .nome {
        font-size: 5.5em !important;
    }
 
    .background1 {
        display: none;
    }
    
    .barra-one .nome {
        font-size: 6em;
    }

    .barra-one .background2 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
    }

    /*download*/
    .download {
        position: absolute;
        color: #FFFFFFFF;
        border: solid 1px #FFFFFF;
        width: 65vw;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20vh;
        font-size: .8em;
        text-align: center;
    }

    /*SOBRE*/
    .paragrafo {
        width: 80vw;
        left: 50vw;
        top: 45%;
        transform: translate(-0 -50%);
    }

    .paragrafo h1{
        font-size: 1.8em !important;
    }

    .wave {
        position: relative;
        top: 30vh;
    }

    .sobre1 {
        display: none;
    }
    
    .sobre2 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
    }

    .paragrafo h1 {
        font-size: 2em;
    }

    /*PROJETOS*/
    .barra-three {
        position: relative;
    }
    .back1 {
        display: none;
    }

    .back2 {
        left: 50%;
        width: 13em;
    }

    .back3 {
        display: block;
        width: 100%;
        height: 100vh;
    }
    
    .paragrafo2 {
        position: absolute;
        top: 63vh;
        left: 10%;
        transform: translate(-50% -50%);
        width: 80vw;
        height: 40vh;
    }

    .paragrafo2 h1 {
        font-size: 1.3em;
        margin-top: 7vh;
    }

    .paragrafo2 p {
        margin-top: 7vh;
    }
    
    .ver-mais {
        margin-top: 2vh;
    }

    .waves2 {
        position: absolute;
        top: 89vh;
    }

    /*CONTATO*/
    .barra-four h1 {
        top: 10vh;
    }
    .icones-contato img {
        width: 1.6em;
        top: 22vh;
    }

    .dados-contato p {
        font-size: .8em;
        top: 2vh;
    }

    /*email fixed*/
    .redes-sociais img {
        margin-top: 1vh;
        left: 84vw;
    }

    .final {
        font-size: .5em;
    }
}