* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
}

/*BARRA SUPERIOR*/
.barra-superior {
    position: fixed;
    background-color: #FFFFFF;
    height: 9vh;
    width: 100%;
    z-index: 10;
    top: 0;
}

.links {
    text-align: center;
    font-size: 1em;
}

.direcionar {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #0D0D0D;
    top: 3.5vh;
    margin: 0px 2vw;
    top: 3vh;
}

.direcionar::after {
    content: ' ';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #491BF2;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.direcionar:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*HOME*/
#home {
    background-color: #491BF2;
}

.barra-one {
    position: relative;
    height: 100vh;
    width: 100%;
}

.barra-one .background1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0vh;
}

.barra-one .background2 {
    display: none;
}

p.frase {
    text-align: center;
    color: #FFFFFF;
    padding-top: 3vh;
    font-size: 1.7em;
}

p.nome {
    text-align: center;
    font-weight: bolder;
    color: #FFFFFF;
    font-size: 7em;
    text-shadow: 0.05em 0.02em 0.1em #1f1f1f;
    margin-top: 3vh;
}

p.trabalho {
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-size: 1.2em;
    padding-top: 3vh;
}

.download {
    position: absolute;
    text-decoration: none;
    color: #FFFFFF;
    border: solid #FFFFFF 1px;
    background-color: none;
    left: 50%;
    transform: translate(-50%);
    margin-top: 20vh;
    padding: 10px;
}

.download:hover {
    background-color: #7D68F7;
    color: #FFFFFF;
    border-radius: 3px;
    transition: ease-in-out 0.3s;
}

/*SOBRE*/
#sobre {
    background-color: #F2F2F2;
}

.barra-two {
    height: 100vh;
    width: 100%;
}

.sobre1 {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.paragrafo {
    position: relative;
    text-align: center;
    width: 45vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paragrafo h1 {
    position: absolute;
    color: #491BF2;
    font-size: 2em;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
}

.paragrafo p {
    text-align: center;
    color: #0D0D0D;
    font-size: 1em;
    top: 20vh;
}

/*PROJETO*/
.barra-three {
    position: relative;
    background-color: #491BF2;
    height: 100vh;
    width: 100%;
}

.back1 {
    position: absolute;
    width: 50%;
    left: 40%;
    transform: translate(-50%);
    top: 0vh;
}

@media (max-width: 800px) {
    .back1 {
        top: 18vh !important;
        left: 33%;
        transform: translate(-50%);
        width: 28em;
    }
}

.paragrafo2 {
    position: relative;
    width: 35vw;
    height: 35vh;
    left: 55vw;
    top: 50%;
    transform: translate(0, -50%);
}

.barra-three h1 {
    position: absolute;
    color: #FFFFFF;
    font-size: 1.6em;
    left: 50%;
    transform: translate(-50%);
    top: 2vh;
}

.barra-three p {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 1em;
    margin: 0px 10%;
    top: 10vh;
}

.ver-mais {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
}

.ver-mais2 {
    position: absolute;
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px #240E73 solid;
    color: #240E73;
    width: 80px;
    height: 40px;
    border-radius: 5px;
}

.ver-mais2:hover {
    background-color: #7D68F7;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    transition: ease-in-out 0.3s;
}

/*responsividade - projetos*/
@media (max-width: 1370px) {
    .barra-three img {
        top: 10vh;
    }
}

@media (max-width: 1010px) {
    .barra-three img {
        top: 20vh;
    }

    .paragrafo2 h1 {
        font-size: 1.1em;
    }
}


/*timeline*/
.timeline {
    width: 100%;
    background-color: #491BF2;
    color: #fff;
    padding: 30px 0px;
    box-shadow: 0px 0px 10px #00000080;
}
    
.timeline ul {
    width: 70vw;
    margin: 0 auto;
    list-style-type: none;
    border-left: 2px solid #FFF;
    padding: 10px 5px;
}
    
.timeline h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.6em;
    margin: 5vh 0;
}
    
.content button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
    
.content button {
    
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px #240E73 solid;
    color: #240E73;
    cursor: pointer;
    background-color: #FFFFFF;
}
    
.content button:hover {
    background-color: #491BF2;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    transition: ease-in-out 0.3s;
}
    
.timeline ul li {
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
    transition: .5s;
}
    
    
.timeline ul li span {
    display: inline-block;
    background-color: #7D68F7;
    border-radius: 15px;
    padding: 8px;
    font-size: 15px;
    text-align: center;
}
    
.timeline ul li .content h3 {
    color: #fff;
    font-size: 17px;
    padding-top: 5px;
}
    
.timeline ul li .content p {
    padding: 5px 0px 15px 0px;
    font-size: 15px;
}
    
.timeline ul li:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #FFFF;
    border-radius: 50%;
    left: -11.5px;
    top: 28px;
    transition: .5s;
}
    
.timeline ul li:hover {
    background-color: #7D68F7;
    color: #fff;
    border-radius: 10px;
}
    
.timeline ul li:hover:before {
    box-shadow: 0px 0px 10px 2px #fff;
}
    
@media (max-width:300px) {
    .timeline {
        width: 100%;
        padding: 30px 5px 30px 10px;
    }
    
    .timeline ul li .content h3 {
        color: #34ace0;
        font-size: 15px;
    }  
}

/*CONTATO*/
.barra-four {
    position: relative;
    background-color: #F2F2F2;
    height: 40vh;
    width: 100%;
}

.barra-four h1,
p {
    text-align: center;
    position: relative;
    top: 15%;
}

.barra-four h1 {
    color: #491BF2;
}

.dados-contato {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
}

.dados-contato p {
    color: #0D0D0D;
}

.barra-four a {
    text-decoration: none;
    color: #0D0D0D;
}

.barra-four a:hover {
    color: #491BF2;
    transition: ease-in 0.2s;
}

.icones-contato img {
    position: relative;
    left: 50%;
    top: 20vh;
    transform: translate(-100%);
    width: 35px;
}

.final {
    font-size: calc(1em - 0.9vh);
    color: #0D0D0D;
    position: absolute;
    top: 37vh;
    left: 50%;
    transform: translate(-50%);
}

/*BARRA LATERAL*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #cacaca;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 3px;
}

/*ENVIAR EMAIL FIXED*/
.redes-sociais img {
    position: fixed;
    width: 3em;
    top: 88vh;
    right: 2%;
}

.redes-sociais img:hover {
    top: 87.5vh;
    transition: .2s;
}

/*RESPONSIVIDADE MOBILE*/
@media (max-width: 675px) {
    /*HOME*/
    .frase,
    .nome,
    .trabalho {
        top: 20vh;
    }

    .nome {
        font-size: 5.5em !important;
    }

    /*download*/
    .download {
        position: absolute;
        text-align: center;
        color: #FFFFFFFF;
        border: solid 1px #FFFFFF;
        width: 65vw;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 25vh;
        font-size: .8em;
    }

    /*SOBRE*/
    .paragrafo {
        width: 80vw;
    }

    .paragrafo h1 {
        font-size: 1.8em !important;
    }

    .sobre1 {
        display: none;
    }

    .sobre2 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
    }

    .paragrafo h1 {
        font-size: 2em;
    }

    /*PROJETOS*/
    .barra-three {
        position: relative;
    }

    .back1 {
        left: 50%;
        width: 18em;
    }

    .paragrafo2 {
        position: absolute;
        top: 63vh;
        left: 10%;
        transform: translate(-50% -50%);
        width: 80vw;
        height: 40vh;
    }

    .paragrafo2 h1 {
        font-size: 1.3em;
        margin-top: 7vh;
    }

    .paragrafo2 p {
        margin-top: 7vh;
    }

    .ver-mais {
        margin-top: 2vh;
    }

    /*CONTATO*/
    .barra-four h1 {
        top: 10vh;
    }

    .icones-contato img {
        width: 1.6em;
        top: 22vh;
    }

    .dados-contato p {
        font-size: .8em;
        top: 2vh;
    }

    /*email fixed*/
    .redes-sociais img {
        margin-top: 1vh;
        left: 84vw;
    }

    .final {
        font-size: .5em;
    }
}