*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

/*BARRA SUPERIOR*/
.barra-superior {
    position: fixed;
    background-color: #ffffff;
    height: 10vh;
    width: 100%;
    z-index: 10;
    top: 0;
    box-shadow: 1px 1px 4px rgb(163, 163, 163);
    opacity: 0.96;
}

.logo-tm .logo1 {
    position: absolute;
    width: 10em;
    top: -7vh;
    left: 18vw;
}

.links {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.direcionar {
    color: #3E3E40;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 3.5vh;
    margin: 0px 2vw;
    top: 3vh;
}

/*responsividade logo*/
@media (max-width: 1050px) {
    .logo-tm .logo1 {
        left: 6vw;
        width: 9em;
        top: -6vh;
    }
}

.direcionar:hover {
    color: #0476D9;
    transition: ease 0.5s;
}

.direcionar::after {
    content: ' ';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #0476D9;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.direcionar:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*HOME*/
.barra-one {
    position: relative;
    height: 100vh;
    width: 100%;
}

.barra-one .background1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 10vh;

}

.barra-one .background2 {
    display: none;
}

p.frase {
    color: #ffffff;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.7em;
    padding-top: 14vh;
}

p.nome {
    color: #ffffff;
    font-size: 7em;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    text-shadow: 0.1em 0.1em 0.2em #000000;
}

p.trabalho {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
}

/*SOBRE*/
.barra-two {
    background-color: #f5f5f5;
    height: 100vh;
    width: 100%;
}

.paragrafo {
    position: relative;
    font-family: 'Nunito', sans-serif;
    width: 45vw;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.paragrafo h1 {
    position: absolute;
    color: #0476D9;
    font-size: 2em;
    top: 10vh;
    left: 50%;
    transform: translate(-50%);
}

.paragrafo p {
    font-size: 1em;
    color: #3E3E40;
    top: 20vh;
    text-align: center;
}

/*responsividade - sobre*/
@media (max-width: 1440px) {
    .wave {
        position: relative;
        top: 80px;
    }
}

@media (max-width: 1040px) {
    .wave {
        top: 140px;
    }
}

@media (max-width: 770px) {
    .wave {
        top: 180px;
    }
}

/*PROJETO*/
.barra-three {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #E2EFFF;
}

.barra-three img {
    position: absolute;
    width: 50%;
    top: 0vh;
    left: 40%;
    transform: translate(-50%);
}

.paragrafo2 {
    position: relative;
    width: 35vw;
    height: 35vh;
    left: 55vw;
    top: 50%;
    transform: translate(0, -50%);
}

.barra-three h1 {
    position: absolute;
    color: #0476D9;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6em;
    left: 50%;
    transform: translate(-50%);
    top: 2vh;
}

.barra-three p {
    position: absolute;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 1em;
    color: #3E3E40;
    position: relative;
    margin: 0px 10%;
    top: 10vh;
}

.ver-mais {
    position: absolute;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-mais2 {
    position: absolute;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 1px #0476D9 solid;
    color: #0476D9;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    background-color: #FFFFFF;
}

.ver-mais2:hover {
    background-color: #6EB9FA;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    transition: ease-in-out 0.3s;
}

.waves2 {
    position: relative;
    top: 18vh;
}

/*responsividade - projetos*/
@media (max-width: 1650px) {
    .waves2 {
        top: 200px;
    }
}

@media (max-width: 1370px) {
    .barra-three img {
        top: 10vh;
    }

    .waves2 {
        top: 280px;
    }
}

@media (max-width: 1010px) {
    .barra-three img {
        top: 20vh;
    }

    .paragrafo2 h1 {
        font-size: 1.1em;
    }

    .waves2 {
        top: 350px;
    }
}

/*CONTATO*/
.barra-four {
    position: relative;
    background-color: #CBE3FB;
    font-family: 'Nunito', sans-serif;
    color: #3E3E40;
    height: 40vh;
    width: 100%;
}

.barra-four h1, h2, p {
    text-align: center;
    position: relative;
    top: 15%;
}

.barra-four h1, h2 {
    color: #0476D9;
}

.dados-contato {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
}

.barra-four a {
    text-decoration: none;
    color: #262626;
}

.barra-four a:hover {
    color: #0476D9;
    transition: ease-in 0.2s;
}

.icones-contato img{  
    position: relative;
    left: 50%;
    top: 15vh;
    transform: translate(-100%);
    width: 35px;
}

.final {
    font-size: calc(1em - 0.9vh);
    position: absolute;
    top: 37vh;
    left: 50%;
    transform: translate(-50%);
}

/*BARRA LATERAL*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #cacaca;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

/*ENVIAR EMAIL FIXED*/
.redes-sociais img {
    position: fixed;
    width: 4em;
    top: 88vh;
    right: 2%;
    filter: drop-shadow(0px 1px 2px #0476D9);
}

.redes-sociais img:hover {
    top: 87.5vh;
    transition: .2s;
}

@media (max-width: 900px) {
    .redes-sociais img {
        width: 3em;
        right: 1%;
    }
}

/*RESPONSIVIDADE MOBILE*/
@media (max-width: 675px) {
    /*NAV*/
    .logo-tm .logo1 {
        display: none;
    }

    /*HOME*/
    .frase, .nome, .trabalho {
        top: 10vh;
    }
 
    .background1 {
        display: none;
    }
    
    .barra-one .nome {
        font-size: 6em;
    }

    .barra-one .background2 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100vh;
    }

    /*download*/
    .download {
        position: absolute;
        color: #FFFFFFFF;
        border: solid 1px #FFFFFF;
        width: 55vw;
        left: 50%;
        transform: translateX(-65%);
        top: 55vh;
    }

    .download:hover {
        background-color: white;
        border: solid #0476D9 1px;
        color: #0476D9;
        transition:ease-in-out 0.4s;
    }

    /*SOBRE*/
    .paragrafo {
        width: 80vw;
        left: 50vw;
        top: 50%;
        transform: translate(-0 -50%);
    }

    .paragrafo h1 {
        font-size: 2em;
    }

    .wave {
        position: relative;
        top: 30vh;
    }

    /*PROJETOS*/
    .barra-three img {
        left: 51%;
        top: 10vh;
        width: 25em;
    }
    
    .paragrafo2 {
        position: relative;
        top: 70%;
        left: 10%;
        transform: translate(-50% -50%);
        width: 80vw;
        height: 40vh;
    }

    .paragrafo2 h1 {
        font-size: 1.4em;
    }
    
    .ver-mais {
        top: 15vh;
    }

    .waves2 {
        top: 50vh;
    }

    /*CONTATO*/
    .icones-contato img {
        width: 1.2em;
        top: 20vh;
    }

    .dados-contato p {
        font-size: .6em;
        top: 5vh;
    }

    /*email fixed*/
    .redes-sociais img {
        top: 85vh;
        left: 80vw;
    }

    .final {
        font-size: .5em;
    }
}