*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

/*BARRA SUPERIOR*/
.barra-superior {
    position: fixed;
    background-color: #ffffff;
    height: 10vh;
    width: 100%;
    z-index: 10;
    top: 0;
}

.logo-tm .logo1 {
    position: absolute;
    width: 10em;
    top: -7vh;
    left: 18vw;
}

.links {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.direcionar {
    color: #3E3E40;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 3.5vh;
    margin: 0px 2vw;
    top: 3vh;
}

/*responsividade logo*/
@media (max-width: 1050px) {
    .logo-tm .logo1 {
        left: 6vw;
        width: 9em;
        top: -6vh;
    }
}

.direcionar:hover {
    color: #0476D9;
    transition: ease 0.5s;
}

.direcionar::after {
    content: ' ';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #0476D9;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

.direcionar:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*HOME*/
.barra-one {
    position: relative;
    height: 100vh;
    width: 60%;
    animation: barra-one infinite alternate 5s;
}

/*animação*/
@keyframes barra-one {
    100% { background-color: #189CEF;}
    50% { background-color: #05AFF2;}
    0% { background-color: #0064A3;}
}

p.frase {
    color: white;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.7em;
    padding-top: 14vh;
}

p.nome {
    color: white;
    font-size: 7em;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}

p.trabalho {
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
}

/*barra one 2*/
.barra-one2 {
    position: absolute;
    background-color: red;
    width: 40%;
    height: 100vh;
    left: 60%;
    top: 0;
    animation: barra-two infinite alternate 5s;  
}

/*HABILIDADES*/
@keyframes barra-two {
    100% { background-color: #FFFFFF;}
    50% { background-color: #e7e7e7;}
    0% { background-color: #E3E3E3;}
}

.skills {
    position: relative;
    transform: translateY(40%);
    left: 15%;
    width: 70%;
    height: 60vh;
}

.skills .foto-perfil {
    position: absolute;
    width: 50%;
    border-radius: 50%;
    top: 15vh;
    left: 50%;
    transform: translate(-50%, -50%) 
}

.habilidades h5 {
    position: relative;
    top: 32vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2em;
    text-decoration: underline #0476D9 3px;
}

.habilidades p {
    position: relative;
    top: 34vh;
    left: 50%;
    transform: translate(-50%);
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom: 1vh;
    border-radius: 15px 50px;
    margin: 1vh;
    width: 16vw;
    padding-top: 1vh;
    background-color: #0476D9;
}

.habilidades p:hover {
    color: #0476D9;
    background-color: #BFBFBF;
    transition: .3s;
}

.download {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #0476D9;
    border: solid #0476D9 1px;
    background-color: none;
    position: absolute;
    text-align: center;
    width: 20vw;
    padding: 1vh;
    font-size: .8em;
    top: 58vh;
    left: 50%;
    transform: translate(-50%);
}

.download:hover {
    background-color: #0476D9;
    color: #FFFFFF;
    border-radius: 3px;
    transition:ease-in-out 0.3s;
}

/*SOBRE*/
.barra-two {
    background-image: linear-gradient(to bottom right,#dddddd , #f5f5f5);
    height: 100vh;
    width: 100%;
}

.paragrafo {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    position: relative;
    top: 18vh;
}

.paragrafo h1 {
    color: #0476D9;
    font-size: calc(2em + 1vh);
    padding-bottom: 15px;
    padding-top: 10%;
}

.paragrafo p {
    font-size: 1em;
    color: #3E3E40;
    margin: 0px 10%;
}

/*PROJETO*/
.barra-three {
    position: relative;
    animation-name: barra-one;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 100vh;
    width: 100%;
}

.barra-three h1 {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: calc(3em - 2vh);
    text-align: center;
    padding-top: 18vh;
}

.projeto-1 img {
    position: absolute;
    width: 25em;
    top: 33vh;
    left: 5vw;
    border-radius: 12px;
    box-shadow: 1px 2px 8px #373b8d;
}

.projeto-2 img {
    position: absolute;
    width: 25em;
    top: 33vh;
    border-radius: 12px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 1px 2px 8px #373b8d;
}

.projeto-3 img {
    position: absolute;
    width: 25em;
    top: 33vh;
    border-radius: 12px;
    right: 5vw;
    box-shadow: 1px 2px 8px #373b8d;
}

.projeto-1 img:hover, .projeto-2 img:hover, .projeto-3 img:hover {
    top: 32.5vh;
    filter: brightness(90%);
    transition: .3s;
}

/*responsividade 1*/
@media (max-width: 1350px) {
    .projeto-1 img, .projeto-2 img, .projeto-3 img {
        width: 20em;
    }
}

/*responsividade 2*/
@media (max-width: 1100px) {
    /*PROJETOS*/
    .projeto-1 img{
        width: 15em;
        top: 30vh;
        left: 9vw;
    }

    .projeto-2 img{
        width: 15em;
        top: 50vh;
    }

    .projeto-3 img{
        width: 15em;
        top: 30vh;
        right: 9vw;
    }

    .projeto-1 img:hover, .projeto-3 img:hover {
        top: 29.5vh;
    }

    .projeto-2 img:hover {
        top: 49.5vh;
    }

    /*VER MAIS*/
    .barra-three p {
        top: 45vh !important;
    }

    .ver-mais {
        top: 72vh !important;
    }
}

.barra-three p {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    position: relative;
    top: 40vh;
    margin: 0px 10%;
    text-align: center;
}

.ver-mais {
    position: absolute;
    top: 70vh;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ver-mais2 {
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
    background-color: #FFFFFF;
}

.ver-mais2:hover {
    background-color: #6EB9FA;
    color: #FFFFFF;
    border: solid 1px #FFFFFF;
    transition: ease-in-out 0.3s;
}

/*CONTATO*/
.barra-four {
    position: relative;
    background-image: linear-gradient(to bottom right,#dddddd , #f5f5f5);
    font-family: 'Nunito', sans-serif;
    color: #3E3E40;
    height: 40vh;
    width: 100%;
}

.barra-four h1, h2, p {
    text-align: center;
    position: relative;
    top: 15%;
}

.barra-four h1, h2 {
    color: #0476D9;
}

.dados-contato {
    position: absolute;
    top: 15vh;
    left: 50%;
    transform: translate(-50%);
}

.barra-four a {
    text-decoration: none;
    color: #262626;
}

.barra-four a:hover {
    color: #0476D9;
    transition: ease-in 0.2s;
}

.icones-contato img{  
    position: relative;
    left: 50%;
    top: 15vh;
    transform: translate(-100%);
    width: 35px;
}

.final {
    font-size: calc(1em - 0.9vh);
    position: absolute;
    top: 37vh;
    left: 50%;
    transform: translate(-50%);
}

/*BARRA LATERAL*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #cacaca;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

/*ENVIAR EMAIL FIXED*/
.redes-sociais img {
    position: fixed;
    width: 4em;
    top: 88vh;
    right: 2%;
    filter: drop-shadow(0px 1px 2px #0476D9);
}

.redes-sociais img:hover {
    top: 87.5vh;
    transition: .2s;
}

@media (max-width: 900px) {
    .redes-sociais img {
        width: 3em;
        right: 1%;
    }
}

/*RESPONSIVIDADE MOBILE*/
@media (max-width: 675px) {
    /*navegação*/
    .logo-tm .logo1 {
        display: none;
    }

    /*home*/
    .frase, .nome, .trabalho {
        top: 10vh;
    }
    
    .barra-one {
        width: 100%;
    }
    
    .barra-one .frase {
        font-size: 1.3em;
    }
    
    .barra-one .nome {
        font-size: 6em;
    }
    
    .barra-one2 {
        width: 0;
    }
    
    .habilidades {
        display: none;
    }

    .barra-one2 img {
        display: none;
    }

    /*download*/
    .download {
        position: absolute;
        color: #FFFFFFFF;
        border: solid 1px #FFFFFF;
        width: 55vw;
        left: 50%;
        transform: translateX(-65%);
        top: 55vh;
    }

    .download:hover {
        background-color: white;
        border: solid #0476D9 1px;
        color: #0476D9;
        transition:ease-in-out 0.4s;
    }

    /*projetos*/
    .barra-three h1 {
        padding-top: 15vh;
    }
    .projeto-1 img, .projeto-2 img, .projeto-3 img {
        width: 10em;
    }

    .projeto-1 img {
        left: 50%;
        transform: translate(-50%);
        top: 25vh;
    }

    .projeto-1 img:hover {
        top: 24.5vh;
    }

    .projeto-2 img {
        left: 50%;
        transform: translate(-50%);
        top: 40vh;
    }

    .projeto-2 img:hover {
        top: 39.5vh;
    }
    
    .projeto-3 img {
        left: 50%;
        transform: translate(-50%);
        top: 55vh;
    }

    .projeto-3 img:hover {
        top: 54.5vh;
    }
    
    .barra-three p {
        top: 47vh !important;
    }

    .ver-mais {
        top: 75vh !important;
    }

    /*contato*/
    .icones-contato img {
        width: 1.2em;
        top: 20vh;
    }

    .dados-contato p {
        font-size: .6em;
        top: 5vh;
    }

    /*email fixed*/
    .redes-sociais img {
        top: 90vh;
    }
}